h1, h2, h3, p {
    padding: 1em 2em 0 2em;
}

span {
    background-image:url("../assets/images/dolphin2.gif");
    background-position-y: 2em;
    background-repeat: repeat-x;
    transition: 0.4s;
}

span:hover {
    background-position:0;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .image-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-templates-rows: repeat(6, 1fr);
    grid-gap:0;
} */

/* img {
    height: 100%;
    width: 100%;
} */

.image-grid {
    position: relative;
    width: 100%;
    height: 600px;
}

.image-item {
    position: absolute;
    height: 240px;
    width: 240px;
}

img {
    height: 100%;
    width: 100%;
}